<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>


<body>

    <script>
        $(function() {
			var availableTags = ["jQuery.com", "jQueryUI.com", "jQueryMobile.com", "jQueryScript.net", "jQuery", "Free jQuery Plugins"];
			var minWordLength = 1;
			function split(val) {
				return val.split(' ');
			}

			function extractLast(term) {
				return split(term).pop();
			}
			$.ajax({
                url: '{{ url_for("autocompleteTopic") }}'
                }).done(function (data){
			$("#Topico")
			// don't navigate away from the field on tab when selecting an item
			.bind("keydown", function(event) {
				if (event.keyCode === $.ui.keyCode.TAB && $(this).data("ui-autocomplete").menu.active) {
					event.preventDefault();
				}
			}).autocomplete({
				minLength: minWordLength,
				source: function(request, response) {
					// delegate back to autocomplete, but extract the last term
					var term = extractLast(request.term);
					if(term.length >= minWordLength){
						response($.ui.autocomplete.filter( data, term ));
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function(event, ui) {
					var terms = split(this.value);
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push(ui.item.value);
					// add placeholder to get the comma-and-space at the end
					terms.push("");
					this.value = terms.join("");
					return false;
				}

		   	});
		});
	});

    </script>

<h1>Post for UXlivinglab</h1>

<h2>{{email}}</h2>

<h2>{{message}}</h2>
<p>Entered email is :{{email}}</p>

<form method="POST" enctype="multipart/form-data">
    <button><a href='https://100042.pythonanywhere.com/final' alt='Broken Link'>Home page</a></button>
    <input type="button" value="Go back!" onclick="history.back()">
    <br></br>
  <input type="hidden" id="email" name="email" value="{{email}}" required><br>
  <label for="brand">This post is targeted to (select Brand):</label><br>
  <select id="brand" name="brand">
    <option value="Apple-Technology">Apple-Technology</option>
    <option value="Google-Technology">Google-Technology</option>
    <option value="Microsoft-Technology">Microsoft-Technology</option>
    <option value="Amazon-Technology">Amazon-Technology</option>
    <option value="Facebook-Technology">Facebook-Technology</option>
    <option value="Coca-Cola-Beverages">Coca-Cola-Beverages</option>
    <option value="Disney-Leisure">Disney-Leisure</option>
    <option value="Samsung-Technology">Samsung-Technology</option>
    <option value="Louis Vuitton-Luxury">Louis Vuitton-Luxury</option>
    <option value="McDonald's-Restaurants">McDonald's-Restaurants</option>
    <option value="Toyota-Automotive">Toyota-Automotive</option>
    <option value="Intel-Technology">Intel-Technology</option>
    <option value="NIKE-Apparel">NIKE-Apparel</option>
    <option value="AT&T-Telecom">AT&T-Telecom</option>
    <option value="Cisco-Technology">Cisco-Technology</option>
    <option value="Oracle-Technology">Oracle-Technology</option>
    <option value="Verizon-Telecom">Verizon-Telecom</option>
    <option value="Visa-Financial Services">Visa-Financial Services</option>
    <option value="Walmart-Retail">Walmart-Retail</option>
    <option value="GE-Diversified">GE-Diversified</option>
    <option value="Budweiser-Alcohol">Budweiser-Alcohol</option>
    <option value="SAP-Technology">SAP-Technology</option>
    <option value="Mercedes-Benz-Automotive">Mercedes-Benz-Automotive</option>
    <option value="IBM-Technology">IBM-Technology</option>
    <option value="Marlboro-Tobacco">Marlboro-Tobacco</option>
    <option value="Netflix-Technology">Netflix-Technology</option>
    <option value="BMW-Automotive">BMW-Automotive</option>
    <option value="American Express-Financial Services">American Express-Financial Services</option>
    <option value="Honda-Automotive">Honda-Automotive</option>
    <option value="LOreal-Consumer Packaged Goods">LOreal-Consumer Packaged Goods</option>
    <option value="Gucci-Luxury">Gucci-Luxury</option>
    <option value="Hermes-Luxury">Hermes-Luxury</option>
    <option value="Nescafe-Beverages">Nescafe-Beverages</option>
    <option value="Home Depot-Retail">Home Depot-Retail</option>
    <option value="Accenture-Business Services">Accenture-Business Services</option>
    <option value="Pepsi-Beverages">Pepsi-Beverages</option>
    <option value="Starbucks-Restaurants">Starbucks-Restaurants</option>
    <option value="Mastercard-Financial Services">Mastercard-Financial Services</option>
    <option value="Frito-Lay-Consummer Packaged Goods">Frito-Lay-Consummer Packaged Goods</option>
    <option value="IKEA-Retail">IKEA-Retail</option>
    <option value="Zara-Retail">Zara-Retail</option>
    <option value="Gillette-Consumer Packaged Goods">Gillette-Consumer Packaged Goods</option>
    <option value="HSBC-Financial Services">HSBC-Financial Services</option>
    <option value="Audi-Automotive">Audi-Automotive</option>
    <option value="J.P.Morgan-Financial Services">J.P.Morgan-Financial Services</option>
    <option value="Deloitte-Business Services">Deloitte-Business Services</option>
    <option value="Sony-Technology">Sony-Technology</option>
    <option value="UPS-Transportation">UPS-Transportation</option>
    <option value="Bank of America-Financial Services">Bank of America-Financial Services</option>
    <option value="Chase-Financial Services">Chase-Financial Services</option>
    <option value="Adidas-Apparel">Adidas-Apparel</option>
    <option value="Channel-Luxuey">Channel-Luxuey</option>
    <option value="Siemens-Diversified">Siemens-Diversified</option>
    <option value="Nestle-Consumer Packaged Goods">Nestle-Consumer Packaged Goods</option>
    <option value="CVS-Retail">CVS-Retail</option>
    <option value="Cartier-Luxury">Cartier-Luxury</option>
    <option value="Porsche-Automotive">Porsche-Automotive</option>
    <option value="ESPN-Media">ESPN-Media</option>
    <option value="Citi-Financial Services">Citi-Financial Services</option>
    <option value="Wells Fargo -Financial Servies">Wells Fargo -Financial Servies</option>
    <option value="Adobe-Technology">Adobe-Technology</option>
    <option value="Pampers-Consumer Packaged Goods">Pampers-Consumer Packaged Goods</option>
    <option value="Corona-Alchol">Corona-Alchol</option>
    <option value="T-Mobile-Telecom">T-Mobile-Telecom</option>
    <option value="Ebay-Technology">Ebay-Technology</option>
    <option value="Chevrolet-Automotive">Chevrolet-Automotive</option>
    <option value="PayPal-Financial Services">PayPal-Financial Services</option>
    <option value="Ford-Automotive">Ford-Automotive</option>
    <option value="Red Bull-Beveragese">Red Bull-Beverages</option>
    <option value="PwC-Business Services">PwC-Business Services</option>
    <option value="HP-Technology">HP-Technology</option>
    <option value="Colgate-Consumer Packaged Goods">Colgate-Consumer Packaged Goods</option>
    <option value="Fox-Media">Fox-Media</option>
    <option value="Lowe's-Retail">Lowe's-Retail</option>
    <option value="Lancome-Consumer Packaged Goods">Lancome-Consumer Packaged Goods</option>
    <option value="H&M-Retail">H&M-Retail</option>
    <option value="Lexus-Automotive">Lexus-Automotive</option>
    <option value="Santander-Financial Services">Santander-Financial Services</option>
    <option value="Cosotco-Retail">Cosotco-Retail</option>
    <option value="Hyundai-Automotive">Hyundai-Automotive</option>
    <option value="Danone-Consumer Packaged Goods">Danone-Consumer Packaged Goods</option>
    <option value="Heinenken-Alcohol">Heineken-Alcohol</option>
    <option value="Uniqlo-Apparel">Uniqlo-Apparel</option>
    <option value="Goldman Sachs-Financial Services">Goldman Sachs-Financial Services</option>
    <option value="Hennessy-Alcohol">Hennessy-Alcohol</option>
    <option value="Nintendo-Technology">Nintendo-Technology</option>
    <option value="AXA-Financial Services">AXA-Financial Services</option>
    <option value="Allianz-Financial Services">Allianz-Financial Services</option>
    <option value="Dell-Technology">Dell-Technology</option>
    <option value="Caterpillar-Heavy Equipment">Caterpillar-Heavy Equipment</option>
    <option value="LEGO-Leisure">LEGO-Leisure</option>
    <option value="Huawai-Technology">Huawai-Technology</option>
    <option value="John Deere-Heavy Equipment">John Deere-Heavy Equipment</option>
    <option value="UBS-Financial Services">UBS-Financial Services</option>
    <option value="KFC-Restaurants">KFC-Restaurants</option>
    <option value="Burger King-Restaurants">Burger King-Restaurants</option>
    <option value="EY-Business Services">EY-Business Services</option>
    <option value="FedEx-Transportation">FedEx-Transportation</option>
    <option value="Volkswagen-Automotive">Volkswagen-Automotive</option>



  </select>
  <br></br>
  <label for="channel">This post is designed for(Select Channel):</label><br>
  <select id="channel" name="channel">
    <option value="Twitter-uxlivinglab">Twitter-uxlivinglab</option>
    <option value="Linkdin-uxliving">Linkdin-uxliving</option>
    <option value="Facebook-Customer stories">Facebook-Customer stories</option>
    <option value="Instagram-Livinglabstories">Instagram-Livinglabstories</option>
    <option value="Youtube-Dowell True Moments UX Living Lab">Youtube-Dowell True Moments UX Living Lab</option>
    <option value="Tiktok">Tiktok</option>
    <option value="Vimeo-(Brand)">Vimeo-(Brand)</option>
    <option value="Spotify podcast">Spotify podcast</option>
    <option value="Second life">Second life</option>
    <option value="Twitter-dowellresearch">Twitter-dowellresearch</option>
    <option value="Linkdin-dowellresearch">Linkedin-dowellresearch</option>
    <option value="Linkdin-Company page-Germany">Linkedin-Company page-Germany</option>
    <option value="Linkdin-Company page-Singapore">Linkedin-Company page-Singapore</option>
    <option value="Linkedin-Company page-UK">Linkedin-Company page-UK</option>
    <option value="Linkedin-Company page-Scandinavia">Linkedin-Company page-Scandinavia</option>
    <option value="Facebook-DoWell Research">Facebook-DoWell Research</option>
    <option value="Youtube-Dowell Research">Youtube-Dowell Research</option>
    <option value="Twitter-seeuser">Twitter-seeuser</option>
    <option value="Linkedin-Intership">Linkedin-Intership</option>
    <option value="Facebook-uxlivinglab team">Facebook-uxlivinglab team</option>
    <option value="Instagram-uxlivinglab team">Instagram-uxlivinglab team</option>
    <option value="Youtube-Team playlist">Youtube-Team playlist</option>
    <option value="Twitter-unpacandwin">Twitter-unpacandwin</option>
    <option value="Linkedin-unpacandwin">Linkedin-unpacandwin</option>
    <option value="Facebook-unpacandwin">Facebook-unpacandwin</option>
    <option value="Instagram-unpacandwin">Instagram-unpacandwin</option>
    <option value="Youtube-unpacandwin">Youtube-unpacandwin</option>

  </select><br>
  <br></br>


  <label for="channelbrand">Select Channel brand type :</label><br>
  <select id="channelbrand" name="channelbrand">
          <option value="Brand">Brand</option>
          <option value="Corporate">Corporate</option>
          <option value="Team building">Team building</option>
          <option value="Consumer contest">Consumer contest</option>




  </select><br>
  <br></br>




  <label for="Topico">Choose your Topic from the list:</label>

    <input list="Topics" name="Topico" id="Topico" required>

  <br>
  <br>
  <input type="submit" value="Next >>">
  </br>
  <br>
  <input type="reset" value="Clear form">
  </br>
</form>

</body>
</html>

